<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>


<body>
  <button (click)="setVisible()"> {{buttonTitle}} </button>
  <button (click)="ponerDatos()"> "Poner Datos" </button>
  <button (click)="quitarDatos()"> "Quitar Datos" </button>

  <p>Se han producido {{contadorEnPadre}} visitas</p>

  @if (visible) {
  <h2> {{title}} </h2>
  @if(users != undefined && users.length) {
  <h3>Users</h3>
  <table>
    <thead>
      <tr>
        <th>id</th>
        <th>name</th>
      </tr>
    </thead>
    <tbody>
      @for (user of users; track $index) {
      <tr>
        <td> {{$index+1}} </td>
        <td> {{user}} </td>
      </tr>
      }
    </tbody>
  </table>
  } @else {
  <h3>Tabla sin datos</h3>
  }
  } @else {
  <h2>Lo sentimos, datos no disponibles</h2>
  }

  <app-counter [title]="subtitle" (counterEmitter)="setFatherCounter($event)"></app-counter>
</body>

</html>