<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Cart app</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <button class="btn text-bg-dark" aria-current="page">Home</button>
        </li>
        <li class="nav-item">
          <button class="btn text-bg-dark" (click)="showCart()">Cart ({{length}})</button>
        </li>
      </ul>
    </div>
  </div>
</nav>