<h3 class="my-3"> {{title}} </h3>
<button class="btn btn-primary" [routerLink]="['/users/create']">Crear Usuario</button>

@if(users.length == 0){
<div class="alert alert-danger">No hay registros en el sistema!</div>
}
@else{
<table class="table table-over table-striped">
  <thead>
    <tr>
      <th>id</th>
      <th>name</th>
      <th>lastname</th>
      <th>email</th>
      <th>username</th>
      <th>edit</th>
      <th>remove</th>
    </tr>
  </thead>
  <tbody>
    @for (user of users; track $index) {
    <tr>
      <td> {{user.id}} </td>
      <td> {{user.name}} </td>
      <td> {{user.lastname}} </td>
      <td> {{user.email}} </td>
      <td> {{user.username}} </td>
      <td> <button class="btn btn-link" [routerLink]="['/users/edit', user.id]">Editar</button> </td>
      <td> <button class="btn btn-link" (click)="onRemove(user.id)">Eliminar</button> </td>
    </tr>
    }
  </tbody>
</table>
}