<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h2>Hola! hola!</h2>
  <h3> {{title}} </h3>

  <button (click)="setVisible()"> {{buttonTitle}} </button>
  <div *ngIf="visible">
    <div *ngIf="users.length">
      <h3>Users</h3>
      <table>
        <thead>
          <tr>
            <th>id</th>
            <th>name</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users; index as i">
            <td> {{i+1}} </td>
            <td> {{user}} </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</body>

</html>