<div class="card">
  <div class="card-content">
    <div class="card-header">
      <h5 class="card-title">Carro de la compra</h5>
    </div>
    <div class="card-body">
      @if (items.length > 0) {
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th>Producto</th>
            <th>Precio</th>
            <th>Cantidad</th>
            <th>Total</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          @for (item of items; track $index) {
          <tr cart-item [item]="item" (addEventEmitter)="addProduct($event)"
            (reduceEventEmitter)="reduceProduct($event)" (removeEventEmitter)="removeProduct($event)">
            }
        </tbody>
        <tfoot>
          <tr>
            <td colspan="3" class="text-end fw-bold">Total</td>
            <td class="fw-bold"> {{total}} </td>
            <td colspan="3"></td>
          </tr>
        </tfoot>
      </table>
      } @else {
      <h4 class="alert alert-warning">En estos momentos el carro de la compra está vacío</h4>
      }
    </div>
  </div>
</div>