<div class="card my-3">
  <div class="card-content">
    <div class="card-header">
      <h5 class="card-title">{{user.id>0?'Editar':'Crear'}} usuario</h5>
    </div>
    <div class="card-body">


      <form (ngSubmit)="OnSubmit(userform)" #userform="ngForm">
        <div>
          <input placeholder="Name" name="name" [(ngModel)]="user.name" class="form-control my-2 mx-2"
            #name="ngModel" /><!--required-->
          @if(errors?.name){
          <div class="text-danger"> {{errors.name}} </div>
          }
          <!--           @if(name.invalid && (name.dirty || name.touched)){
          @if(name.errors!['required']){
          <div class="text-danger">Nombre es requerido</div>
          }
          }
 -->
        </div>
        <div>
          <input placeholder="Lastname" name="lastname" [(ngModel)]="user.lastname" class="form-control my-2 mx-2"
            #lastname="ngModel" /><!--required-->
          @if(errors?.lastname){
          <div class="text-danger"> {{errors.lastname}} </div>
          }
          <!--           @if(lastname.invalid && (lastname.dirty || lastname.touched)){
          @if(lastname.errors!['required']){
          <div class="text-danger">Apellido es requerido</div>
          }
          }
 -->
        </div>
        <div>
          <input placeholder="Email" name="email" [(ngModel)]="user.email" class="form-control my-2 mx-2" type="email"
            #email="ngModel" /><!--required email-->
          @if(errors?.email){
          <div class="text-danger"> {{errors.email}} </div>
          }
          <!--           @if(email.invalid && (email.dirty || email.touched)){
          @if(email.errors!['required']){
          <div class="text-danger">Correo es requerido</div>
          }
          @else if (email.errors!['email']) {
          <div class="text-danger">Formato incorrecto</div>
          }
          }
 -->
        </div>
        <div>
          <input placeholder="Username" name="username" [(ngModel)]="user.username" class="form-control my-2 mx-2"
            #username="ngModel" />
          @if(errors?.username){
          <div class="text-danger"> {{errors.username}} </div>
          }

          <!--           @if(username.invalid && (username.dirty || username.touched)){
          @if(username.errors!['required']){
          <div class="text-danger">Usuario es requerido</div>
          }
          @else if (username.errors!['minlength']) {
          <div class="text-danger">Campo demasiado corto</div>
          }
          }
 -->
        </div>
        <div>
          <input placeholder="Password" name="password" type="password" [(ngModel)]="user.password"
            class="form-control my-2 mx-2" #password="ngModel" />
          @if(errors?.password){
          <div class="text-danger"> {{errors.password}} </div>
          }
          <!--           @if(password.invalid && (password.dirty || password.touched)){
          @if(password.errors!['required']){
          <div class="text-danger">Contraseña es requerido</div>
          }
          @else if (password.errors!['minlength']) {
          <div class="text-danger">Campo demasiado corto</div>
          }
          }
 -->
        </div>
        <div>
          <button type="submit" class="btn btn-primary my-2 mx-2"> <!-- [disabled]="userform.invalid" -->
            {{user.id>0?'Actualizar':'Grabar'}} </button>
          <button type="button" class="btn btn-secondary my-2 mx-2" (click)="OnClear(userform)">
            Cancelar </button>
        </div>
      </form>


    </div>
  </div>
</div>